
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="dropdown btn-group">
      <button class="btn btn-warning dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
            Manage Recipe
          </button>
      <div class="dropdown-menu" aria-labelledby="triggerId">
        <button appDropdownHighlight class="dropdown-item" href="#">Edit Recipe</button>
        <button appDropdownHighlight class="dropdown-item" href="#">Delete Recipe</button>
        <button appDropdownHighlight class="dropdown-item" href="#">Add to Shopping List</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {{recipe.description}}
  </div>
</div>
<app-ingredient-list [ingredients]="ingredients"></app-ingredient-list>


