<app-add-recipe></app-add-recipe>


<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- for now adding code to display recipe here, until the section
             were we learn how to pass data down to child components -->
             
             <a class="list-group-item clearfix" href="#" role="button">
                 <div class="pull-left">
                    <h4 class="list-group-item-heading">Recipe Name</h4>
                    <p class="list-group-item-text">Description</p>
                 </div>
                 <span class="pull-right">
                     <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Recipe.jpg" alt="" class="img-responsive" style="max-height: 50px;">
                 </span>
                </a>
             
        <app-recipe-item></app-recipe-item>
    </div>
</div>

